body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}


.top-wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  color: white;
  background-size: cover;
}
