body {
  font-family: "Avenir Next";
}

.header {
  background-color: #f7f2b4;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list li {
  list-style: none;
  float: right;
  padding-bottom: 20px;
}
